USE [master]
GO
/****** Object:  Database [QLNS]    Script Date: 29/12/2019 3:39:17 PM ******/
CREATE DATABASE [QLNS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLNS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLNS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNS]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 29/12/2019 3:39:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [varchar](100) NOT NULL,
	[PASSWORD] [varchar](100) NULL,
	[USERSID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKS]    Script Date: 29/12/2019 3:39:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKTITLE] [varchar](100) NULL,
	[AUTHOR] [varchar](100) NULL,
	[STOCK] [int] NULL,
	[COST] [float] NOT NULL,
	[PRICE] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CART]    Script Date: 29/12/2019 3:39:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART](
	[ORDERID] [int] NULL,
	[BOOKID] [int] NULL,
	[QUANTITY] [int] NULL,
	[PRICE] [float] NULL,
	[TOTAL]  AS ([QUANTITY]*[PRICE]) PERSISTED,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 29/12/2019 3:39:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FULLNAME] [varchar](100) NULL,
	[PHONE] [varchar](15) NULL,
	[EMAIL] [varchar](100) NULL,
	[ADDRESS] [varchar](100) NULL,
	[CITY] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPENSES]    Script Date: 29/12/2019 3:39:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPENSES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](100) NULL,
	[AMOUNT] [float] NULL,
	[DATE] [smalldatetime] NOT NULL,
	[DESCRIPTION] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 29/12/2019 3:39:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [smalldatetime] NULL,
	[CUSTOMERSID] [int] NULL,
	[DISCOUNT] [float] NULL,
	[TOTAL] [float] NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 29/12/2019 3:39:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [varchar](100) NULL,
	[LASTNAME] [varchar](100) NULL,
	[PHONE] [varchar](15) NULL,
	[EMAIL] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ((0)) FOR [DISCOUNT]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD FOREIGN KEY([USERSID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD FOREIGN KEY([BOOKID])
REFERENCES [dbo].[BOOKS] ([ID])
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD FOREIGN KEY([ORDERID])
REFERENCES [dbo].[ORDERS] ([ID])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([CUSTOMERSID])
REFERENCES [dbo].[CUSTOMERS] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[USP_AddNewOrder]    Script Date: 29/12/2019 3:39:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_AddNewOrder]
AS
BEGIN
	INSERT INTO ORDERS DEFAULT VALUES
END
GO
/****** Object:  StoredProcedure [dbo].[USP_AddToCart]    Script Date: 29/12/2019 3:39:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_AddToCart]
@orderID INT,@bookID INT, @quantity INT, @price FLOAT
AS
BEGIN

	DECLARE @isExistsItem INT
	DECLARE @itemQuantity INT = 1

	--Kiem tra ton tai bookID trong cart

	SELECT @isExistsItem = CART.ID, @itemQuantity = QUANTITY
	FROM CART
	WHERE ORDERID = @orderID AND BOOKID = @bookID

	IF(@isExistsItem > 0)
	BEGIN
		DECLARE @newQuantity INT = @itemQuantity + @quantity
		IF(@newQuantity > 0)
			UPDATE CART
			SET QUANTITY = @itemQuantity + @quantity
			WHERE BOOKID = @bookID
		ELSE
			DELETE CART WHERE ORDERID = @orderID AND BOOKID = @bookID
	END

	ELSE
	BEGIN
		INSERT INTO CART(ORDERID,BOOKID,QUANTITY,PRICE)
		VALUES(@orderID, @bookID, @quantity, @price)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Login]    Script Date: 29/12/2019 3:39:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_Login]
@username nvarchar(100), @password nvarchar(100)
AS
BEGIN
	SELECT * FROM ACCOUNT WHERE USERNAME = @username AND PASSWORD = @password
END 
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateStorage]    Script Date: 29/12/2019 3:39:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateStorage]
@bookID INT, @remain INT
AS
BEGIN
	UPDATE BOOKS
	SET STOCK = @remain
	WHERE ID = @bookID
END
GO
USE [master]
GO
